.card {
    margin-bottom: 10px !important;
}

.card.concluido {
    background-color: #c1ffc6;
}

.btn-group {
    width: 100%;
}

.card-title.concluido {
    text-decoration: line-through;
}