#bg_image {
    height: 100%;
    width: 100%;
    background-color: #6e25ad;
    background-image: url(../../assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login.container {
    z-index: 2 !important;
    height: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#login h3 {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
    color: #fff;
}

#login small {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
}

#login input {
    margin-bottom: 10px;
}

#login button {
    margin-top: 30px;
}

#copyright {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
}